[findr]
# Probably need to change these
max_processes = 2
fileshifts = ./file_shifts.txt
smooth_window = 1
fullimage_size = 1024
outputfname = metadata
# Optional: specify norm files using "alt_darknorms", or "alt_scinorms". Default is to calculate.

# Probably don't want to change these
darkmaster_path = darkmaster
darksub_path = darksub
fitscent_path = fitscent
klipreduce_path = klipReduce
masterdark_filename = masterdark.fits
darknorms_filename = norm.dat
darklist_filename = darks.list
